@page "/"
@rendermode InteractiveServer

<div class="main-container">
	<div id="videoContainer">
		<video id="webcam" autoplay playsinline @ref="videoRef"></video>
		<canvas id="overlay" width="1280" height="720" @ref="canvasRef"></canvas>
	</div>
	<button id="toggleInference" @onclick="ToggleInference">
		@((isInferenceRunning ? "Stop Inference" : "Start Inference"))
	</button>
</div>
