@page "/"
@rendermode InteractiveServer

<PageTitle>JunkWaxDetection :: Live .NET Machine Learning Demo!</PageTitle>

<div class="main-container">
	<div id="videoContainer">
		<video id="webcam" autoplay playsinline @ref="VideoRef"></video>
		<canvas id="overlay" width="1280" height="720" @ref="CanvasRef"></canvas>
	</div>
	<button id="toggleInference" @onclick="ToggleInferenceAsync">
		@((IsInferenceRunning ? "Stop Inference \u26be" : "Start Inference \u26be"))
	</button>
</div>

<footer class="footer">
	<a href="https://github.com/JunkWaxData/JunkWaxDetection" target="_blank" rel="noopener noreferrer">
		JunkWaxDetection Model
	</a>
	<span class="separator">|</span>
	<a href="https://github.com/enusbaum" target="_blank" rel="noopener noreferrer">
		Built by Eric Nusbaum
	</a>
</footer>
