@page "/"
@rendermode InteractiveServer

<PageTitle>JunkWaxDetection :: Live .NET Machine Learning Demo!</PageTitle>

<div class="main-container">
	<div id="videoContainer">
		<video id="webcam" autoplay playsinline @ref="VideoRef"></video>
		<canvas id="overlay" width="1280" height="720" @ref="CanvasRef"></canvas>
	</div>
	<button id="toggleInference" @onclick="ToggleInferenceAsync">
		@((IsInferenceRunning ? "Stop Inference" : "Start Inference"))
	</button>
</div>
